//color pallete for the application;
//https://color.adobe.com/es/Phaedra-color-theme-1764754/edit/?copy=true
$brand-red: #FF6138;
$brand-yellow: #FFFF9D;
$brand-light-green: #BEEB9F;
$brand-medium-green: #79BD8F;
$brand-green: #00A388;
//Borders
$light-gray-border: #DEDEDE;
$dark-gray-border: #878787;
//Notes
$yellow-corner: #ffeb3b;
$light-blue: #0995A3;
$dark-blue: #0977A3;
$dark-red: #FC3C37;
//breakpoints
$large: 1200px;
$medium: 992px;
$small: 768px;
//title font styles
$title-font: "Times New Roman",
Times,
serif;