.aside {
  position: fixed;
  width: 45px;
  height: calc(100vh - 72px);
  background-color: #fff;
  margin-top: 82px;
  border-right: 1px solid $light-gray-border;
  z-index:2;
  transition: width 0.5s ease-in;
  .aside--notebook {
    position: relative;
    color: black;
    border-bottom: 1px solid $light-gray-border;
    background-color: #fff;
    margin: 1rem 0;
    opacity: 0;
    transition: opacity 0.2s ease;
    padding: calculateRem(10px);
    a {
      font-size: calculateRem(24px);
      color: black;
      font-family: $title-font;
      text-decoration: none;
      cursor: pointer;
       i {
        position: absolute;
        bottom: calculateRem(14px);
        right: calculateRem(15px);
        font-size: calculateRem(25px);
        color: #CCCCCC;
      }
    }
    span {
      position: absolute;
      bottom: 2px;
      right: 5px;
      font-size: 1.2307rem;
    }
    /* 
    &:hover {
      background-color: $brand-medium-green;
      color: #fff;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    */
  }
  .fa-1-5 {
    font-size: 1.5rem;
    margin: 10px;
    .fa {
      color: $brand-medium-green;
    }
  }
}

.aside__active {
  width: 230px;
  header{
    margin-top: 1.5rem;
  }
  .aside--notebook {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  .fa-1-5 {
    margin: 0 calculateRem(6px);
  }
}

.nav-toggle-pos {
  position: absolute;
  top: 40%;
  left: -3px;
  width: 35px;
  height: 25px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 60%;
    background: $light-gray-border;
    opacity: 1;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2) {
      top: 7px;
    }
    &:nth-child(3) {
      top: 14px;
    }
  }
}