.aside {
  aside{
    height: 100%;
  }
  background-color: #fff;
  border-right: 1px solid $light-gray-border;
  height: calc(100vh - 83px);
  margin-top: 82px;
  position: fixed;
  transition: width 0.5s ease-in;
  width: 45px;
  z-index:2;
  .aside--menu{
    width: 100%;
    div{
      display: inline-block;
      text-align: center;
      width: 17%;
      i {
        cursor: pointer;
      } 
    }
  }
  .aside--notebook {
    background-color: #fff;
    border-bottom: 1px solid $light-gray-border;
    color: black;
    margin: 1rem 0;
    opacity: 0;
    padding: calculateRem(10px);
    position: relative;
    transition: opacity 0.2s ease;
    a {
      color: black;
      cursor: pointer;
      font-family: $title-font;
      font-size: calculateRem(24px);
      text-decoration: none;
       i {
        bottom: calculateRem(14px);
        color: #CCCCCC;
        font-size: calculateRem(25px);
        position: absolute;
        right: calculateRem(15px);
      }
    }
    span {
      bottom: 2px;
      font-size: 1.2307rem;
      position: absolute;
      right: 5px;
    }
    .aside--notebook--close{
      position: absolute;
      bottom: calculateRem(16px);
      cursor: pointer;
      i{
        color: #CCCCCC;
      }
    }
  }
  .fa-1-5 {
    font-size: 1.5rem;
    margin: 10px;
    .fa {
      color: $brand-medium-green;
    }
  }
  .element-container{
    height: calc(100% - 56px);
    .aside--input{
      width: 95%;
      margin: calculateRem(20px) 0 calculateRem(10px) 0;
      input{
        &:focus{
          border-color: $brand-medium-green;
        }
      }
    }
  }
  .aside-items-container{
    height: calc(100% - 26px);
    overflow-y: auto;
  }
}

.aside__active {
  text-align: center;
  width: 230px;
  header{
    margin-top: 1.5rem;
  }
  .aside--notebook {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  .fa-1-5 {
    margin: 0 calculateRem(6px);
  }
}

.nav-toggle-pos {
  cursor: pointer;
  height: 25px;
  left: -3px;
  position: absolute;
  top: 40%;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  width: 35px;
  span {
    background: $light-gray-border;
    display: block;
    height: 2px;
    opacity: 1;
    position: absolute;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    width: 60%;
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2) {
      top: 7px;
    }
    &:nth-child(3) {
      top: 14px;
    }
  }
}